@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-background;
    @apply text-textSecondary;

    user-select: none;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  :focus {
    outline: none;
  }
}

@layer utilities {
  .window-drag-area {
    -webkit-app-region: drag;
  }

  .window-drag-area * {
    -webkit-app-region: no-drag;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@font-face {
  font-family: 'Fira Mono';
  font-weight: 400;
  src: url(fonts/FiraMono-Regular.ttf);
}

@font-face {
  font-family: 'Fira Mono';
  font-weight: 500;
  src: url(fonts/FiraMono-Medium.ttf);
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url(fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url(fonts/Inter-Medium.ttf);
}
