@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-background;
    @apply text-textSecondary;
  }

  body {
    overscroll-behavior: none;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  :focus {
    outline: none;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  /* Keep in sync with selectors in `getFocusableElements.ts` */
  a:not([aria-disabled='true']):not(.hidden),
  button:not(:disabled):not(.hidden),
  input:not(:disabled):not([readonly]):not(.hidden),
  textarea:not(:disabled):not([readonly]):not(.hidden),
  select:not(:disabled):not(.hidden),
  details:not(:disabled):not(.hidden),
  [tabindex]:not(:disabled):not([tabindex='-1']):not(.hidden) {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:-outline-offset-2 focus-visible:outline-primaryHover;
  }
}
