@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .window-drag-area {
    -webkit-app-region: drag;
  }

  .window-drag-area * {
    -webkit-app-region: no-drag;
  }
}

@font-face {
  font-family: 'Fira Mono';
  font-weight: 400;
  src: url(fonts/FiraMono-Regular.ttf);
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url(fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url(fonts/Inter-Medium.ttf);
}

html {
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

:focus {
  outline: none;
}
