.cm-editor {
  font-size: 14px;
}

.cm-editor.cm-focused {
  outline: none;
}

.cm-editor:not(.cm-focused) .cm-activeLine,
.cm-editor:not(.cm-focused) .cm-activeLineGutter {
  background-color: transparent;
}

.cm-gutters {
  border-right-width: 1px;
}

.cm-gutterElement {
  padding-left: 7px !important;
  padding-right: 7px !important;
}

.cm-min-height-small .cm-content,
.cm-min-height-small .cm-gutter {
  min-height: 30px !important;
}

.cm-min-height-large .cm-content,
.cm-min-height-large .cm-gutter {
  min-height: 80px !important;
}
